In [1]:
# conda activate 10-19-2019
# pip install CensusData
# conda install -c anaconda pip
# conda install -c anaconda pandas

In [1]:
import censusdata
import pandas as pd

# the last five labels that have the word unemploy in them
# censusdata.search(src='acs5', year = 2017, field = 'label', criterion = 'employed' )

In [2]:
my_vars = ["B27011_003E",
           "B27011_004E",
           "B27011_003E",
           "B27011_004E",
           "B27011_005E",
           "B27011_006E",
           "B27011_007E",
           "B27011_008E",
           "B27011_009E",
           "B27011_010E",
           "B27011_011E",
           "B27011_012E",
           "B27011_013E",
           "B27011_014E",
           "B27011_015E",
           "B27011_016E",
           "B27011_017E",
          ]

geography_of_interest = [("state", "*"),("congressional district", "*")]
my_geo = censusdata.censusgeo(geo = geography_of_interest)

dataCongD = censusdata.download(src = 'acs5', year = 2017, geo = my_geo, var = my_vars)
dataCongD.head(2)

,B27011_003E,B27011_004E,B27011_005E,B27011_006E,B27011_007E,B27011_008E,B27011_009E,B27011_010E,B27011_011E,B27011_012E,B27011_013E,B27011_014E,B27011_015E,B27011_016E,B27011_017E
"Congressional District 1 (115th Congress), Alabama: Summary level: 500, state:01> congressional district:01",268179,228397,218207,16628,39782,21606,11226,7834,4180,10380,113936,89723,55474,45914,24213
"Congressional District 2 (115th Congress), Alabama: Summary level: 500, state:01> congressional district:02",262066,226626,216991,18634,35440,21559,11129,7569,4362,10430,108826,89114,53429,47680,19712

In [5]:
dataCongD.shape

(437, 15)

In [6]:
#and print them legibly
censusdata.printtable(censusdata.censustable(src = 'acs5', year = 2017, table = 'B27011'))

Variable     | Table                          | Label                                                    | Type
-------------------------------------------------------------------------------------------------------------------
B27011_001E  | HEALTH INSURANCE COVERAGE STAT | !! Estimate Total                                        | int
B27011_002E  | HEALTH INSURANCE COVERAGE STAT | !! !! Estimate Total In labor force                      | int
B27011_003E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! Estimate Total In labor force Employed          | int
B27011_004E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! Estimate Total In labor force Employed With  | int
B27011_005E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! !! Estimate Total In labor force Employed Wi | int
B27011_006E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! !! Estimate Total In labor force Employed Wi | int
B27011_007E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! Estimate Total In labor force Employed No he | int
B27011_008E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! Estimate Total In labor force Unemployed        | int
B27011_009E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! Estimate Total In labor force Unemployed Wit | int
B27011_010E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! !! Estimate Total In labor force Unemployed  | int
B27011_011E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! !! Estimate Total In labor force Unemployed  | int
B27011_012E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! Estimate Total In labor force Unemployed No  | int
B27011_013E  | HEALTH INSURANCE COVERAGE STAT | !! !! Estimate Total Not in labor force                  | int
B27011_014E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! Estimate Total Not in labor force With health i | int
B27011_015E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! Estimate Total Not in labor force With healt | int
B27011_016E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! !! Estimate Total Not in labor force With healt | int
B27011_017E  | HEALTH INSURANCE COVERAGE STAT | !! !! !! Estimate Total Not in labor force No health ins | int
-------------------------------------------------------------------------------------------------------------------

In [7]:
rename_vars = {
           "B27011_003E": "Total",
           "B27011_004E": "InLaborForce",
           "B27011_003E": "LFEmployedTotal",
           "B27011_004E": "LFE18-64y",
           "B27011_005E": "LFE18-64yHealth",
           "B27011_006E": "LFE18-64yPrivateHealth",
           "B27011_007E": "LFE18-64yPublicHealth",
           "B27011_008E": "LFE18-64yNoHealth",
           "B27011_009E": "LFE-65+",
           "B27011_010E": "LFE-65+Health",
           "B27011_011E": "LFE-65+PrivateHealth",
           "B27011_012E": "LFE-65+PublicHealth",
           "B27011_013E": "LFE-65+NoHealth",
           "B27011_014E": "LFUnEmployedTotal",
           "B27011_015E": "LFUE18-64y",
           "B27011_016E": "LFUE18-64yHealth",
           "B27011_017E": "LFUE18-64yPrivateHealth"
}
dataCongD = dataCongD.rename(mapper = rename_vars, axis = 1)
dataCongD.head(1)

,LFEmployedTotal,LFE18-64y,LFE18-64yHealth,LFE18-64yPrivateHealth,LFE18-64yPublicHealth,LFE18-64yNoHealth,LFE-65+,LFE-65+Health,LFE-65+PrivateHealth,LFE-65+PublicHealth,LFE-65+NoHealth,LFUnEmployedTotal,LFUE18-64y,LFUE18-64yHealth,LFUE18-64yPrivateHealth
"Congressional District 1 (115th Congress), Alabama: Summary level: 500, state:01> congressional district:01",268179,228397,218207,16628,39782,21606,11226,7834,4180,10380,113936,89723,55474,45914,24213

In [8]:
geography_of_interest = [("state", "*"),("county", "*")]
my_geo = censusdata.censusgeo(geo = geography_of_interest)

dataCounty = censusdata.download(src = 'acs5', year = 2017, geo = my_geo, var = my_vars)
dataCounty = dataCounty.rename(mapper = rename_vars, axis = 1)
dataCounty.head(1)

,LFEmployedTotal,LFE18-64y,LFE18-64yHealth,LFE18-64yPrivateHealth,LFE18-64yPublicHealth,LFE18-64yNoHealth,LFE-65+,LFE-65+Health,LFE-65+PrivateHealth,LFE-65+PublicHealth,LFE-65+NoHealth,LFUnEmployedTotal,LFUE18-64y,LFUE18-64yHealth,LFUE18-64yPrivateHealth
"Corozal Municipio, Puerto Rico: Summary level: 050, state:72> county:047",7924,7494,4519,3157,430,3233,2996,349,2647,237,9694,9218,1924,7536,476

In [9]:
dataCounty.shape

(3220, 15)

In [10]:
dataCounty = dataCounty.reset_index()
dataCounty.head(1)

,index,LFEmployedTotal,LFE18-64y,LFE18-64yHealth,LFE18-64yPrivateHealth,LFE18-64yPublicHealth,LFE18-64yNoHealth,LFE-65+,LFE-65+Health,LFE-65+PrivateHealth,LFE-65+PublicHealth,LFE-65+NoHealth,LFUnEmployedTotal,LFUE18-64y,LFUE18-64yHealth,LFUE18-64yPrivateHealth
0,"Corozal Municipio, Puerto Rico: Summary level:...",7924,7494,4519,3157,430,3233,2996,349,2647,237,9694,9218,1924,7536,476

In [11]:
dataCounty['index'].dtypes

dtype('O')

In [12]:
test = str(dataCounty.iloc[0]['index'])
# test.replace("censusgeo((('state', '", "")
# test.replace("'), ('county', '", "")
test

'Corozal Municipio, Puerto Rico: Summary level: 050, state:72> county:047'

In [33]:
dataCounty.iloc[0]['index']

censusgeo((('state', '72'), ('county', '047')), 'Corozal Municipio, Puerto Rico')

In [34]:
ind = str(dataCounty.iloc[0]['index'])

In [81]:
geodict = dict(dataCounty.iloc[0]['index'].request())
# countystr = str(geodict['for'])
# statestr = str(geodict['in'])
# [int(s) for s in statestr.split() if s.isdigit()]
geodict

{'for': 'county:047', 'in': 'state:72'}

In [85]:
type(dataCounty.iloc[0]['index'])

censusdata.censusgeo.censusgeo

In [66]:
import re
re.findall(r'\d+',statestr)

['72']

In [100]:
dataCounty['index'].values

array([censusgeo((('state', '72'), ('county', '047')), 'Corozal Municipio, Puerto Rico'),
       censusgeo((('state', '72'), ('county', '095')), 'Maunabo Municipio, Puerto Rico'),
       censusgeo((('state', '72'), ('county', '111')), 'Peñuelas Municipio, Puerto Rico'),
       ...,
       censusgeo((('state', '55'), ('county', '089')), 'Ozaukee County, Wisconsin'),
       censusgeo((('state', '55'), ('county', '097')), 'Portage County, Wisconsin'),
       censusgeo((('state', '55'), ('county', '103')), 'Richland County, Wisconsin')],
      dtype=object)

In [83]:
geography_of_interest = [("zip code tabulation area", "*")]
my_geo = censusdata.censusgeo(geo = geography_of_interest)

dataZip = censusdata.download(src = 'acs5', year = 2017, geo = my_geo, var = my_vars)
dataZip = dataZip.rename(mapper = rename_vars, axis = 1)
dataZip.head(1)

,LFEmployedTotal,LFE18-64y,LFE18-64yHealth,LFE18-64yPrivateHealth,LFE18-64yPublicHealth,LFE18-64yNoHealth,LFE-65+,LFE-65+Health,LFE-65+PrivateHealth,LFE-65+PublicHealth,LFE-65+NoHealth,LFUnEmployedTotal,LFUE18-64y,LFUE18-64yHealth,LFUE18-64yPrivateHealth
"ZCTA5 84306: Summary level: 860, zip code tabulation area:84306",158,158,158,0,0,0,0,0,0,0,31,31,31,0,0

In [84]:
dataZip.shape

(3220, 15)

In [67]:
df = pd.read_csv('all-geocodes-v2017nationalpluspr_17.csv')
df.head(2)

,Summary Level,State Code (FIPS),County Code (FIPS),County Subdivision Code (FIPS),Place Code (FIPS),Consolidtated City Code (FIPS),Area Name (including legal/statistical area description)
0,10,0,0,0,0,0,United States
1,40,1,0,0,0,0,Alabama

In [69]:
# a = 5
def convertTo2digits(a):
    return "{0:0=2d}".format(a)
# convertTo2digits(a)

def convertTo3digits(a):
    return "{0:0=3d}".format(a)
# convertTo3digits(a)

In [70]:
df['State Code (FIPS)'] = df['State Code (FIPS)'].apply(convertTo2digits)
df['State Code (FIPS)']

0        00
1        01
2        01
3        01
4        01
         ..
43905    72
43906    72
43907    72
43908    72
43909    72
Name: State Code (FIPS), Length: 43910, dtype: object

In [72]:

df['State Code (FIPS)'].unique()

array(['00', '01', '02', '04', '05', '06', '08', '09', '10', '11', '12',
       '13', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35',
       '36', '37', '38', '39', '40', '41', '42', '44', '45', '46', '47',
       '48', '49', '50', '51', '53', '54', '55', '56', '72'], dtype=object)

In [73]:
df['County Code (FIPS)'] = df['County Code (FIPS)'].apply(convertTo3digits)
df['County Code (FIPS)']

0        000
1        000
2        001
3        003
4        005
        ...
43905    145
43906    147
43907    149
43908    151
43909    153
Name: County Code (FIPS), Length: 43910, dtype: object

In [74]:
df['FIPS6-4'] = df['State Code (FIPS)'] + df['County Code (FIPS)']
df['FIPS6-4']

0        00000
1        01000
2        01001
3        01003
4        01005
         ...
43905    72145
43906    72147
43907    72149
43908    72151
43909    72153
Name: FIPS6-4, Length: 43910, dtype: object

In [75]:
df.sample(3)

,Summary Level,State Code (FIPS),County Code (FIPS),County Subdivision Code (FIPS),Place Code (FIPS),Consolidtated City Code (FIPS),Area Name (including legal/statistical area description),FIPS6-4
29002,61,39,055,59948,0,0,Parkman township,39055
23054,61,34,007,5440,0,0,Berlin borough,34007
35411,162,42,000,0,69336,0,Seven Springs borough,42000

In [80]:
# df.loc[df['B'] == 3, 'A']

df.loc[df['Area Name (including legal/statistical area description)']=='Crawford township', 'FIPS6-4']

9790     16225
9886     16250
21628    11160
27646    16620
28745    19218
30094    19246
32904    16976
Name: County Subdivision Code (FIPS), dtype: int64